<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <link rel="stylesheet" href="">#}
    <style>
        {#@font-face {#}
        {#    font-family:futura-book;#}
        {#    src: url("{{ assetsPath }}assets/fonts/(FuturaNewBook-Reg)FuturaNewBook.woff2") format("woff2"),#}
        {#    url("{{ assetsPath }}assets/fonts/(FuturaNewBook-Reg)FuturaNewBook.woff") format("woff");font-weight:400;font-style:normal#}
        {#}#}
    </style>

</head>